FLASK_SECRET_KEY=tu_clave_secreta
SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:@127.0.0.1/artesanos_control
FLASK_ENV=development
FLASK_DEBUG=True
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_app_password_de_gmail
SMTP_FROM=Artesanos Control <tu_correo@gmail.com>
GEMINI_API_KEY=tu_api_key_de_gemini